.about-section {
  width: 100%;
  height: 100vh;
  background: $color-3;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-height: 95vh;
    .text-container {
      line-height: 2;
      padding: 0 0 0 5%;
      h2 {
        color: $color-8;
        font-size: 48px;
        font-weight: $font-weight-3;
      }
      span {
        color: $color-8;
        font-size: 32px;
        font-weight: $font-weight-3;
      }
      p {
        font-size: 24px;
        color: #f4f6f0;
        margin-bottom: 25px;
        word-spacing: 3px;
      }
    }
    .desktop {
      filter: brightness(105%);
      width: 41%;
      max-height: 95vh;
      border-radius: 25px;
      object-fit: cover;
      object-position: top;
    }
  }
}
