.about-section {
  width: 100%;
  height: 100vh;
  background: $color-3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  @include mobile {
    height: 945px;
  }
  .nightsky-background {
    width: 100%;
    height: 20vh;
    position: relative;
    @include tablet {
      position: absolute;
      top: 0;
      height: 15vh;
    }
    @include mobile {
      height: 10vh;
    }
    .star {
      width: 25px;
      height: 25px;
      background: #f4f6f0;
      clip-path: polygon(49.4% 0%, 60.1% 38.5%, 100% 50.3%, 60.4% 65.5%, 49.1% 100%, 35.4% 65%, 0% 54%, 35.7% 37.8%);
      margin: 0px 50px 50px 50px;
      @include laptop {
        width: 15px;
        height: 15px;
      }
    }

    @for $i from 0 through 35 {
      .star:nth-child(#{$i}) {
        position: absolute;
        top: random(95) * 1%;
        left: random(96) * 1%;
      }
    }
    @for $i from 0 through 35 {
      .star.is-inview:nth-child(#{$i}) {
        animation: apparer random(10) + s 3s both cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }

    @keyframes apparer {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
  }
  .container {
    display: flex;
    column-gap: 2vw;
    width: 50%;
    max-height: 95vh;
    @include laptopVL {
      width: 70%;
    }
    @include laptopL {
      width: 80%;
    }
    @include laptop {
      width: 95%;
      flex-direction: column;
      align-items: center;
    }
    @include tablet {
      width: 80%;
      position: absolute;
      top: 45px;
      max-height: inherit;
      min-height: fit-content;
    }
    @include mobile {
      width: 80%;
      position: absolute;
      top: 70px;
    }
    .moon {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background: #f4f6f0;
      box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f4f6f0, inset -20px 0 80px #f4f6f0, inset 20px 0 300px #f4f6f0,
        inset -20px 0 300px #f4f6f0, 0 0 50px #fff, -10px 0 40px #f4f6f0, 10px 0 40px #f4f6f0;
      @include laptop {
        width: 150px;
        height: 150px;
      }
      @include mobile {
        width: 90px;
        height: 90px;
      }
    }
    .moon.is-inview {
      animation: shining 5s 1.5s both cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .text-container {
      line-height: 2;
      width: 80%;
      padding: 0 0 0 5%;
      @include laptop {
        width: 100%;
        padding: inherit;
      }
      @include tablet {
        line-height: 1.8;
      }
      @include mobile {
        line-height: 1.2;
      }
      h2 {
        color: $color-8;
        font-size: 48px;
        font-weight: $font-weight-3;
        opacity: 0;
        transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
        @include laptopVL {
          font-size: 40px;
        }
        @include laptopL {
          font-size: 32px;
        }
        @include tablet {
          font-size: 18px;
        }
        @include mobile {
          font-size: 18px;
        }
      }
      h2.is-inview {
        transition-delay: 0s;
        opacity: 1;
        transform: none;
        color: #f4f6f0;
      }
      span {
        color: $color-8;
        font-size: 28px;
        font-weight: $font-weight-3;
        @include laptopVL {
          font-size: 24px;
        }
        @include laptopL {
          font-size: 20px;
        }
        @include tablet {
          font-size: 16px;
        }
        @include mobile {
          font-size: 16px;
        }
      }

      p {
        font-size: 20px;
        color: #f4f6f0;
        margin-bottom: 25px;
        word-spacing: 3px;
        @include laptopVL {
          font-size: 18px;
        }
        @include laptopL {
          font-size: 16px;
        }
        @include tablet {
          font-size: 14px;
        }
        @include mobile {
          font-size: 14px;
        }
      }
      p.is-inview {
        animation: shining 5s 3s both cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      @keyframes shining {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
    .desktop {
      filter: brightness(105%);
      width: 41%;
      max-height: 95vh;
      border-radius: 25px;
      object-fit: cover;
      object-position: top;
    }
  }
}
@keyframes shining {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
