.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
  justify-content: flex-end;
  @include laptopmax {
    display: none;
  }
  .burger-container {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
    cursor: pointer;
    @include mobile {
      height: 75px;
      width: 75px;
      row-gap: 9px;
    }
    .bar {
      transform: scale(100%);
      transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 50%;
      height: 4px;
      background: linear-gradient(to right, $color-1, $color-2);
    }
    .bar-close {
      width: 50%;
      height: 4px;
      background: linear-gradient(to right, $color-1, $color-2);
    }
    .bar-close:nth-child(1) {
      transform: rotateZ(45deg);
      transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      position: relative;
      top: 15px;
      @include mobile {
        top: 12px;
      }
    }
    .bar-close:nth-child(2) {
      visibility: hidden;
    }
    .bar-close:nth-child(3) {
      transform: rotateZ(-45deg);
      transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      position: relative;
      top: -16px;
      @include mobile {
        top: -13.5px;
      }
    }
  }
  .hidden {
    visibility: hidden;
  }
  .animate {
    animation: popup 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  @keyframes popup {
    0% {
      transform: translate(100%) scale(0.1);
    }
    100% {
      transform: translate(0%) scale(1);
      visibility: visible;
    }
  }

  .dropdown-container {
    height: 130px;
    width: 130px;
    position: absolute;
    top: 25px;
    left: -110px;
    background: $color-3;
    display: flex;
    border: $color-5 2px solid;
    border-radius: 15px;

    ul {
      margin-top: 0;
      flex: 1;
      height: 100%;
      display: flex;
      color: $color-4;
      user-select: none;
      flex-direction: column;
      justify-content: center;
      row-gap: 8px;

      li {
        a {
          font-weight: $font-weight-1;
          color: $color-4;
          font-size: 14px;
          cursor: pointer;
        }

        :hover {
          position: relative;
          background: linear-gradient(to right, $color-1, $color-2);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          &::after {
            content: "";
            height: 1px;
            width: 0;
            position: absolute;
            border-radius: 10px;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            background: linear-gradient(to right, $color-1, $color-2);
            -webkit-animation: anim 0.3s ease forwards;
            animation: anim 0.6s ease forwards;

            @keyframes anim {
              to {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
