.form-container {
  display: flex;

  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  flex: 1;
  .title-wrapper {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      color: $color-4;
      font-size: 48px;
      font-weight: $font-weight-3;
    }
    h2 {
      font-size: 96px;
      font-weight: $font-weight-3;
      color: $color-5;
    }
  }

  form {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: $color-5;
      font-size: 24px;
    }
    .text-field {
      width: 70%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-bottom: #f4f6f0 2px solid;
      position: relative;
      margin: 30px 0;

      //Field class
      input {
        color: #f4f6f0;
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 24px;
        border: none;
        background: none;
        outline: none;
      }

      textarea {
        color: #f4f6f0;
        width: 100%;
        width: 100%;
        padding: 0 5px;
        height: 400px;
        font-size: 24px;
        border: none;
        background: none;
        outline: none;
        resize: none;
      }

      //inactive elements
      .input-inactive {
        color: #f4f6f0;
        align-self: flex-start;
        font-size: 32px;
        position: absolute;
        top: 100%;
        left: 5px;
        transform: translateY(-100%);
        pointer-events: none;
        transition: 500ms;
      }

      .input-underline::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: linear-gradient(to right, $color-1, $color-2);
        transition: 500ms;
      }
      .textaera-underline::before {
        content: "";
        position: absolute;
        top: 400px;
        left: 0;
        width: 0%;
        height: 2px;
        background: linear-gradient(to right, $color-1, $color-2);
        transition: 500ms;
      }

      //A retirer si pas de probleme avec les systeme focus/blur
      //active on focus element
      // input:focus + .input-inactive {
      //   background: linear-gradient(to right, $color-1, $color-2);
      //   background-clip: text;
      //   -webkit-text-fill-color: transparent;
      //   top: -5px;
      // }
      // input:focus ~ .input-underline::before {
      //   width: 100%;
      // }

      // textarea:focus + .input-inactive {
      //   background: linear-gradient(to right, $color-1, $color-2);
      //   background-clip: text;
      //   -webkit-text-fill-color: transparent;
      //   top: -5px;
      // }
      // textarea:focus ~ .textaera-underline::before {
      //   width: 100%;
      // }
      //active elements
      .input-active {
        align-self: flex-start;
        font-size: 32px;
        position: absolute;
        top: 100%;
        left: 5px;
        transform: translateY(-100%);
        pointer-events: none;
        transition: 500ms;
        background: linear-gradient(to right, $color-1, $color-2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        top: -5px;
      }
      .input-underline-active::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, $color-1, $color-2);
        transition: 500ms;
      }
      .textaera-active {
        align-self: flex-start;
        font-size: 32px;
        position: absolute;
        top: 100%;
        left: 5px;
        transform: translateY(-100%);
        pointer-events: none;
        transition: 500ms;
        background: linear-gradient(to right, $color-1, $color-2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        top: -5px;
      }
      .textaera-underline-active::before {
        content: "";
        position: absolute;
        top: 400px;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, $color-1, $color-2);
        transition: 500ms;
      }
    }
    input[type="submit"] {
      margin-top: 2vh;
      color: #f4f6f0;
      width: 50%;
      font-size: 32px;
      border: none;
      background: $color-1;
      cursor: pointer;
      border-radius: 15px;
      transition: 1000ms;
    }
    input[type="submit"]:hover {
      box-shadow: inset 0 0 50px #fff, inset 20px 0 80px $color-2, inset -20px 0 80px $color-2,
        inset 20px 0 300px $color-2, inset -20px 0 300px $color-1, 0 0 50px $color-2, -10px 0 20px $color-2,
        10px 0 20px $color-2;
      color: $color-1;
    }
  }
}
