.firsttrans-container {
  width: 100%;
  height: 260px;
  display: flex;
  background: $color-3;

  .suncontainer {
    width: 300px;
    height: 300px;
    z-index: 50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 18%;
    top: 11.5%;
    @media screen and (min-width: 1508px) and (max-width: 2312px) {
      transform: RotateZ(1.5deg);
      align-items: center;
      top: 13.5%;
    }
    @media screen and (min-width: 1025px) and (max-width: 1174px) {
      transform: RotateZ(-5deg);
    }
    @include laptop {
      transform: RotateZ(3deg);
      top: 18%;
      left: 48%;
    }
    @include tablet {
      transform: RotateZ(3deg);
      width: 200px;
    }
    @include mobile {
      width: 180px;
      transform: RotateZ(3deg);
      top: 18%;
      left: 43%;
    }
    .sun {
      position: relative;
      top: -3%;
      width: 200px;
      height: 200px;
      z-index: 3;
      position: absolute;
      border-radius: 100%;
      transition: 7s cubic-bezier(0.215, 0.61, 0.355, 1);
      box-shadow: inset 0 0 50px $color-1, inset 20px 0 80px $color-1, inset -20px 0 80px $color-2,
        inset 20px 0 300px $color-2, inset -20px 0 300px $color-1, 0 0 50px $color-2, -10px 0 20px $color-1,
        10px 0 20px $color-1;
      @include tablet {
        width: 130px;
        height: 130px;
        position: relative;
        top: -30%;
      }
      @include mobile {
        width: 90px;
        height: 90px;
        position: relative;
        top: -35%;
      }
    }

    .sun.is-inview {
      transition-delay: 0.3s;
      transform: translateY(105%);
      @include mobile {
        transform: translateY(150%);
      }
    }
    .cache {
      position: absolute;
      top: 35%;
      width: 100%;
      height: 100%;

      clip-path: polygon(0% 0%, 100% 10.5%, 100% 100%, 0% 100%);
      background: $color-3;
      z-index: 10;
    }
  }
}
.firsttrans-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, $color-1, $color-1 2%, $color-2 35%);
  z-index: 0;
  clip-path: polygon(0.2% 72%, 0% 0%, 100% 0%, 100% 61.5%, 83% 74.3%, 66.2% 68.3%, 46.1% 54%, 34.9% 68%, 17.4% 51.5%);
  @include laptop {
    background: #fff;
    animation: none;
  }
}

.firsttrans-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  clip-path: polygon(0.2% 72%, 0% 72%, 0% 0%, 12.8% 0%, 26.9% 0%, 65.1% 0%, 46.1% 54%, 34.9% 68%, 17.4% 51.5%);
}

.is-inview.firsttrans-container::after {
  animation: sundown 0.8s 1.5s both cubic-bezier(0.215, 0.61, 0.355, 1);
  @include laptop {
    animation: none;
  }
}
@keyframes sundown {
  0% {
    background: linear-gradient(to left, $color-1, $color-1 2%, $color-2 35%);
  }
  75% {
    background: linear-gradient(to left, $color-1, $color-1 2%, $color-2 35%);
  }

  100% {
    background: #fff;
  }
}
