.modale-container {
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: $color-3;
  animation: loader-diseaper 0.5s 9.5s ease-in-out both;
  display: flex;
  align-items: center;
  justify-content: center;
  @include laptopL {
    align-items: flex-start;
  }
  .container {
    display: flex;
    align-items: center;
    width: 33%;
    height: 50%;
    @include laptopL {
      flex-direction: column;
      margin-top: 50px;
    }

    .modale-text {
      margin-top: 50px;
      margin-left: 25px;
      font-size: 96px;
      background: linear-gradient(to right, $color-1, $color-2);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
      animation: apparition 1500ms both ease-in-out 4;
      @include tablet {
        font-size: 48px;
        margin-left: 0px;
      }
      @include mobile {
        font-size: 40px;
        margin-left: 0px;
      }
    }
  }
  .wolf {
    object-fit: cover;
    user-select: none;
    background: linear-gradient(to right, $color-1, $color-2);

    @include mobile {
      width: 153.5%;
    }
  }
}

@keyframes apparition {
  0% {
    transform: scale(0.9);
    filter: blur(10px);
  }
  33% {
    transform: scale(1);
    filter: blur(0px);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
}
@keyframes loader-diseaper {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}
