.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .project-section-header {
    background: #fff;
    width: 100%;
    height: 378px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    perspective: 900px;

    .sun {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $color-2;
      box-shadow: inset 0 0 50px #fff, inset 20px 0 80px $color-2, inset -20px 0 80px $color-2,
        inset 20px 0 300px $color-2, inset -20px 0 300px $color-1, 0 0 50px $color-2, -10px 0 140px $color-2,
        10px 0 140px $color-2;
      @include tablet {
        width: 130px;
        height: 130px;
      }
      @include mobile {
        width: 100px;
        height: 100px;
      }
    }

    .appear {
      background: linear-gradient(to right, $color-1, $color-2);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 48px;
      font-weight: $font-weight-3;
      margin-right: 10vw;
      opacity: 0;
      transform: translateY(100%) rotateX(-80deg);
      transform-origin: top center;
      transform-style: preserve-3d;
      transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      @include tablet {
        font-size: 32px;
      }
      @include mobile {
        font-size: 24px;
      }
    }
    .appear.is-inview {
      transition-delay: 1.5s;
      opacity: 1;
      transform: none;
    }
    .button-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        border: 4px $color-1 solid;
        padding: 20px 0;
        width: 364px;
        position: relative;
        border-radius: 35px;
        font-size: 24px;
        font-weight: $font-weight-3;
        background: linear-gradient(to right, $color-1, $color-2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        @include tablet {
          font-size: 20px;
          width: 344px;
        }
        @include mobile {
          font-size: 18px;
          width: 304px;
        }
      }
      button:hover {
        transform: scale(1.05);
        transition: 500ms;
        box-shadow: 0px 1px 15px $color-1;
      }
    }
  }
  .project-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: min-content;
    align-items: center;
    width: 80%;
    margin-bottom: 50px;

    row-gap: 4vh;
    @include laptopVL {
      width: 100%;
    }

    .project-container {
      width: 56.5%;
      height: 575px;
      display: flex;
      column-gap: 2vw;
      @include laptopL {
        width: 76.5%;
      }
      @include laptop {
        width: 91.5%;
        height: 475px;
      }
      @include tablet {
        height: 900px;
        row-gap: 15px;
      }
      @include mobile {
        width: 98%;
        height: 800px;
      }
      img {
        width: 370px;
        height: 100%;
        object-fit: contain;
        background: linear-gradient(to right, $color-1, $color-2);
        border-radius: 15px;
        box-shadow: black 0px 8px 16px 1px;
        @include laptop {
          width: 266px;
        }
        @include tablet {
          width: 400px;
          height: 400px;
        }
        @include mobile {
          width: 300px;
          height: 300px;
        }
      }
      img:hover {
        animation: animation 500ms both ease-in-out;
      }

      .description-container {
        width: 100%;
        height: 100%;
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @include tablet {
          flex: 1;
        }
        @include mobile {
          width: 80%;
        }
        h3 {
          font-weight: $font-weight-3;
          color: $color-5;
          font-size: 28px;
          @include laptop {
            font-size: 24px;
          }
        }
        p {
          font-weight: $font-weight-3;
          color: $color-5;
          font-size: 20px;
          @include laptop {
            font-size: 16px;
          }

          span {
            color: $color-3;
            font-size: 20px;
            @include laptop {
              font-size: 16px;
            }
          }
        }
        .technologie {
          span {
            text-transform: uppercase;
            font-weight: $font-weight-3;
          }
        }
        .no-disponibility {
          color: $color-3;
          font-size: 15px;
        }
        a {
          align-self: center;
        }
      }
    }
    .project-container:nth-child(2n + 1) {
      align-self: flex-start;
      position: relative;
      margin-left: 15%;
      @include laptop {
        margin-left: 0%;
        align-self: center;
      }
      @include tablet {
        flex-direction: column;
        align-items: center;
      }
    }
    .is-inview.project-container:nth-child(2n + 1) {
      animation: translateleft 1.5s 0s both cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    @keyframes translateleft {
      0% {
        transform: translateX(-1000%);
      }
      75% {
        opacity: 1;
        transform: translateX(0%);
      }
      100% {
        opacity: 1;
      }
    }
    .project-container:nth-child(2n + 2) {
      align-self: flex-end;
      position: relative;
      margin-right: 15%;
      flex-direction: row-reverse;
      @include laptop {
        margin-right: 0%;
        align-self: center;
      }
      @include tablet {
        flex-direction: column;
        align-items: center;
      }
    }
    .is-inview.project-container:nth-child(2n + 2) {
      animation: translateright 1.5s 0s both cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    @keyframes translateright {
      0% {
        transform: translateX(1000%);
      }
      75% {
        opacity: 1;
        transform: translateX(0%);
      }
      100% {
        opacity: 1;
      }
    }
  }
}
@keyframes animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
