.secondtrans-container {
  width: 100%;
  height: 20vh;
  display: flex;
  background-color: $color-3;

  flex-direction: column;
  .line {
    width: 100%;
    height: 100%;
    display: flex;
    .round {
      background: #fff;
      height: 100%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
    .round:nth-child(1) {
      width: 5%;
    }
    .round:nth-child(2) {
      width: 25%;
    }
    .round:nth-child(3) {
      width: 10%;
    }
    .round:nth-child(4) {
      width: 30%;
    }
    .round:nth-child(5) {
      width: 18%;
    }
    .round:nth-child(6) {
      width: 12%;
    }
  }
  .line:nth-child(1) {
    background: $color-3;
    transform: translateY(50%);
  }
  .line:nth-child(2) {
    background: $color-2;
    transform: scaleX(-1);
  }
  .line:nth-child(2) .round {
    transform: scaleY(-1);
  }
}
