.stack {
  width: 100%;
  height: 100vh;
  background: linear-gradient($color-2, $color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 100vh;
    color: $color-2;
    perspective: 900px;

    .meteora-container {
      position: relative;
      width: 400px;
      height: 400px;

      .bubble-container {
        position: absolute;
        top: 180px;
        left: 20px;
        width: 200px;
        height: 200px;
        box-shadow: inset 0 0 50px #fff, inset 20px 0 80px $color-3, inset -20px 0 80px $color-8,
          inset 20px 0 300px $color-3, inset -20px 0 300px $color-8, 0 0 50px #fff, -10px 0 80px $color-3,
          10px 0 80px $color-8;
        border-radius: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: -1;

        span {
          padding-top: 25px;
          font-size: 20px;
          font-weight: $font-weight-3;
        }
        ul {
          line-height: 1.5;
          li {
            margin: 2% 0 0 0;
            font-size: 20px;
            font-weight: $font-weight-3;
          }
        }
        svg {
          width: 26%;
          margin: 0 2% 0 0;
        }
      }
      .bubble-container.is-inview {
        animation: appear 5s 5s both cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      @keyframes appear {
        0% {
          z-index: -1;
        }
        75% {
        }
        76% {
        }
        100% {
          z-index: 10;
        }
      }

      .meteora {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }

    .meteora-container:nth-child(2) {
      position: relative;
      top: 2%;
      left: -5%;
    }
    .meteora-container:nth-child(3) {
      position: relative;
      top: -15%;
      left: -5%;
    }

    .meteora-container:nth-child(4) {
      position: relative;
      top: 10%;
      left: -15%;
    }
    .meteora-container:nth-child(5) {
      position: relative;
      top: 2%;
      left: -13%;
    }
    .meteora-container:nth-child(6) {
      position: relative;
      top: -12%;
      left: 1%;
    }
    .meteora-container:nth-child(7) {
      position: relative;
      top: -3%;
      left: 13%;
    }
    .meteora-container:nth-child(8) {
      position: relative;
      top: -20%;
      left: 13%;
    }

    .meteora-container.is-inview {
      animation: fall 5s 1.5s both cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    @keyframes fall {
      0% {
        transform: translate(1000%, -1000%);
      }
      75% {
        opacity: 1;
        transform: translate(0%, 0%);
      }
      100% {
        opacity: 1;
      }
    }

    .appear {
      color: $color-3;
      height: 48px;
      font-size: 48px;
      position: relative;
      top: 10%;
      left: 5%;
      font-weight: $font-weight-3;
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
      transform: translateY(100%) rotateX(-80deg);
      transform-origin: top center;
      transform-style: preserve-3d;
      transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .appear.is-inview {
      transition-delay: 1.5s;
      opacity: 1;
      transform: none;
    }
  }
}
