.home {
  perspective: 0px;
  -moz-perspective: none;
  .home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    position: fixed;
    top: 90vh;
    right: 2vw;
    z-index: 100;
    background: linear-gradient(to bottom, $color-1, $color-5);
    @include mobile {
      width: 50px;
      height: 50px;
    }
    svg {
      @include mobile {
        width: 50px;
        height: 50px;
      }
    }
  }
  .home-button:hover a .arrowup {
    animation: arrowmove 1.5s both cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
}
@keyframes arrowmove {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  51% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
