* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

// Choix des couleurs
$color-1: #ff5f6d;
$color-2: #ffc371;
$color-3: #000046;
$color-4: #f99f38;
$color-5: #ff5e37;

// $color-4: #1cb5e0; /// pas forcément utilisée
// $color-5: #00b09b; /// pas forcément utilisée
// $color-6: #96c93d; /// pas forcément utilisée
$color-7: #56ccf2;
$color-8: #2f80ed;

// Choix des polices a intégrer
$font-1: "Lato", sans-serif;
$font-2: "Roboto", sans-serif;
$font-3: "Montserrat", sans-serif;

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 700;

* {
  font-family: $font-3;
  font-weight: $font-weight-2;
}

@mixin laptopVL {
  @media screen and (max-width: 2559px) {
    @content;
  }
}
@mixin laptopL {
  @media screen and (max-width: 1441px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1025px) {
    @content;
  }
}
@mixin laptopmax {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}
